# Fichiers temporaires
*.log
*.tmp
*.bak

# Dossiers de cache
/site/assets/cache/*
/site/assets/logs/*
/site/assets/files/cache/*
/site/assets/files/*

# Fichiers de configuration de l'environnement
/site/config.php
/site/config.php.bak

# Dossier de modules
/site/modules/*
!/site/modules/ProcessWire/*
!/site/modules/Process/*
!/site/modules/Fieldtype*
!/site/templates/font*
# Dossier de wire (si tu utilises un dépôt de ProcessWire)
wire/
