:root {
    --margin: 2em;
    --menu-height: 3em;
    --grey: #F5F5F5;
    --dark-grey: #d8d8d8;
    --discret: #000000b0;
    --height-container: calc(100dvh - var(--menu-height));

}

::-moz-selection {
    display: none;
}

::selection {
    display: none;
}

h2::-moz-selection {
    color: black
}

h2::selection {
    color: black;
}

a {
    text-decoration: none;
    color: black;

}

html,
body {
    height: 100%;
    margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Selecta-Regular';
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--dark-grey);
}

.menu {
    height: var(--menu-height);
    margin: 0;
    padding: 0 calc(var(--margin) / 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: var(--margin);
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_burger,
.menu_toggle {
    display: none;
}

/* @media only screen and (max-width: 768px) { */
    @media only screen and (max-width: 1300px) {
    .menu {
        padding-top: calc(var(--margin) / 2);
        align-content: flex-start;
        align-items: baseline;
    }
    .menu_burger {
        display: block;
        cursor: pointer;
        height: 25px;
        position: relative;
        z-index: 10;
    }
    .menu_burger span {
        background: #000;
        display: block;
        height: 4px;
        margin: 5px 0;
        transition: 0.3s ease;
        transform-origin: center;
        width: 30px;
    }
    .menu_toggle:checked + .menu_burger span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }
    
    .menu_toggle:checked + .menu_burger span:nth-child(2) {
        opacity: 0; /* Barre du milieu disparaît */
    }
    
    .menu_toggle:checked + .menu_burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .menu_toggle:checked + .menu_burger + .menu_items {
        /* display: flex; */
        transform: translate(0, 0%);
        z-index: 1;
    }
}

.menu>.menu_items {
    display: flex;
    flex-direction: row;
    grid-gap: var(--margin);
}
.menu_items a{
    color: var(--discret);
}
.menu>div,
.menu>a {
    flex: 1;
}
@media only screen and (max-width: 1300px) {
    .menu>.menu_items {
        /* display: none; */
        display: flex;
        position: absolute;
        transform: translate(0, -110%);
        transition: all 0.5s;
        flex-direction: column;
        grid-gap: calc(var(--margin) / 4);
        background: #ffffff;
        padding: calc(var(--margin) / 2);
        top: calc(var(--margin) / 2 + var(--menu-height));
        bottom: 0;
        right: 0;
        left: 0;
    }
    .menu_items a{
        font-size: xx-large;
    }
    .menu>div,
.menu>a {
    flex: initial;
}
}



.menu .menu_logo {
    display: flex;
    justify-content: center;
    grid-gap: calc(var(--margin) / 2);
    align-content: center;
    z-index: 11;
}

.menu_logo .logo {
    font-family: 'Selecta-Regular';
    text-transform: uppercase;
    font-size: 141%;
    color: var(--discret);
}

.menu .contact {
    text-align: end;
    color: var(--discret);
}

.container {
    display: flex;
    overflow: hidden;
    height: var(--height-container);
}

/* @media only screen and (max-width: 768px) { */
    @media only screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
    }
}

.page_row {
    flex: 1;
}

.collection_tab {
    padding: calc(var(--margin) / 2) calc(var(--margin) / 2);
    display: flex;
    grid-gap: var(--margin);
    flex-direction: column;
    text-transform: capitalize;
}

.collection_nav {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: var(--margin);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.collection_nav .nav_item {
    position: absolute;
    display: none;
}

.collection_nav .nav_item.active {
    display: block;
}

.nav_item .nav_cartel {
    padding: calc(var(--margin) / 4);
}

.collection_nav .nav_wallpaper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--height-container);
}

.collection_nav .nav_gallery {
    display: flex;
    flex-direction: column;
}

.nav_gallery img {
    width: 100%;
    height: auto;
}

.nav_wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection_nav::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.collection_filter {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(var(--margin) / 2);
    color: var(--grey);
}


.collection_filter a {
    color: var(--dark-grey);
    /* Couleur par défaut */
    text-decoration: none;
}

.collection_filter a.active {
    color: black;
    /* Couleur active */
}

.collection_category {
    display: none;
    grid-gap: calc(var(--margin) / 2);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(calc(var(--margin) / 2), auto);
}

.collection_category:target {
    display: grid;
}

.collection_year {
    color: var(--dark-grey);
    grid-column: 1 / 4;
    /* height: var(--margin); */
}

.collection_tab .collection_item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: calc(var(--height-container) / 4);
}

.collection_item img {
    flex: 1;
    object-fit: none;
    height: 100%;
}

.collection_tab .collection_item:not(.with_img) {
    background: var(--grey);
    padding: calc(var(--margin) / 2);

}

.collection_tab .collection_item:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}