:root {
    --margin: 2rem;
    --menu-height: 3em;
    --grey: #F5F5F5;
    --dark-grey: #d8d8d8;
    --discret: #000000b0;
    --height-container: calc(100dvh - var(--menu-height));

}



::-moz-selection {
    display: none;
}

::selection {
    display: none;
}

h2::-moz-selection {
    color: black
}

h2::selection {
    color: black;
}

a {
    text-decoration: none;
    color: black;

}

html,
body {
    height: 100dvh;
    margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Selecta-Regular';
    font-weight: normal;
    font-style: normal;
}

a,
p,
div {
    font-size: calc(var(--margin) / 2);
}

@media only screen and (max-width: 1300px) {

    a,
    p,
    div {
        font-size: calc(var(--margin) / 1.77);
    }
}

@media (hover: none) {

    a,
    p {
        font-size: calc(var(--margin) *1.5);
    }
}

h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--dark-grey);
}

.menu {
    height: var(--menu-height);
    margin: 0;
    padding: 0 calc(var(--margin) / 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: var(--margin);
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_back,
.menu_burger,
.menu_toggle {
    display: none;
}

.intro.menu>.menu_items,
.intro.menu>.contact,
.intro.menu .menu_burger {
    opacity: 0;
    animation: fadeOut .3s linear 3.45s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        ;
    }
}

.intro.menu+h1+.container.home {
    opacity: 0;
    height: 0;
    animation: displayFade .3s linear 3.45s;
    animation-fill-mode: forwards;
}

@keyframes displayFade {
    0% {
        height: 0;
        opacity: 0;
    }

    50% {
        height: var(--height-container);
        opacity: 0;
    }

    to {
        height: var(--height-container);
        opacity: 1;
    }
}

.intro .menu_logo .logo {
    color: rgb(0, 0, 0);
    animation: introOffLogo 3.6s cubic-bezier(0.89, 0.17, 0.45, 1);
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 1300px) {


    .intro#topnav div.menu_logo {
        height: calc(100% - var(--margin) / 2);

        animation: introOffHeight 1.7s cubic-bezier(0.89, 0.17, 0.45, 1) 1.6s;
        animation-fill-mode: forwards;
    }

    .intro .menu_logo .logo {
        color: rgb(0, 0, 0);
        animation: introOffLogo 3.6s cubic-bezier(0.89, 0.17, 0.45, 1);
        animation-fill-mode: forwards;
    }
}

@keyframes introOffLogo {
    0% {
        color: rgb(0, 0, 0);
    }

    10% {
        color: white;
    }

    60% {
        color: white;
    }

    100% {
        color: black;
    }
}

@keyframes introOffHeight {
    from {
        height: calc(100dvh - var(--margin) / 2);
    }

    to {
        height: calc(100% - var(--margin) / 2);
    }
}



/* @media only screen and (max-width: 768px) { */
@media only screen and (max-width: 1300px) {
    #topnav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--menu-height) + var(--margin) / 4);
        z-index: 10;
    }

    .menu_back.active {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(var(--menu-height) + var(--margin) / 2);
        height: calc(var(--menu-height) + var(--margin) / 2);
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        background: #f8f8f8;
        z-index: 100;
    }

    .menu_back.active img {
        height: (var(--margin) / 2);
    }

    .menu_back.active+.menu_toggle+.menu_burger {
        transform: translate(calc(var(--menu-height) + var(--margin) / 2), 0);
    }

    .menu {
        padding-top: calc(var(--margin) / 2);
        align-content: flex-start;
        align-items: baseline;
    }

    .menu_burger {
        display: block;
        cursor: pointer;
        height: auto;
        position: absolute;
        z-index: 1000;
    }

    .menu_burger span {
        background: #000;
        display: block;
        height: 4px;
        margin: 5px 0;
        transition: 0.3s ease;
        /* transition-property: transform; */
        transform-origin: center;
        width: 30px;
    }


    .menu_toggle:checked+.menu_burger span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px)
    }

    .menu_toggle:checked+.menu_burger span:nth-child(2) {
        opacity: 0;
        /* Barre du milieu disparaît */
    }

    .menu_toggle:checked+.menu_burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px)
    }

    .menu_toggle:checked+.menu_burger+.menu_items {
        transform: translate(0, 0%);
    }
}

@media (hover: none) {
    .menu_toggle:checked+.menu_burger span:nth-child(1) {
        transform: rotate(45deg) translate(12px, 12px)
    }

    .menu_toggle:checked+.menu_burger span:nth-child(3) {
        transform: rotate(-45deg) translate(12px, -12px)
    }

    #topnav::before {
        height: calc(var(--menu-height) + var(--margin) * 2);
    }

    .menu {
        padding: calc(var(--margin) * 1) calc(var(--margin) / 2) calc(var(--margin) * 1);
        align-content: center;
        align-items: center;
    }

    .menu_burger span {
        height: 8px;
        margin: 9px 0;
        width: 60px;
    }

}

.menu>.menu_items {
    display: flex;
    flex-direction: row;
    grid-gap: var(--margin);
}


.menu_items a {
    color: black;
    opacity: .3;
    text-decoration: none;
}

.menu_items a.active,
.menu_items a:hover {
    opacity: 1;
}

.menu_items div:has(.contact_mobile) {
    display: none;
}

.menu>div,
.menu>a {
    flex: 1;
}

@media only screen and (max-width: 1300px) {
    .menu>.menu_items {
        /* display: none; */
        z-index: 1;
        display: flex;
        position: absolute;
        transform: translate(0, -110%);
        transition: all 0.5s;
        flex-direction: column;
        grid-gap: calc(var(--margin) / 4);
        background: #ffffff;
        padding: calc(var(--margin) / 2);
        top: calc(var(--margin) / 4 + var(--menu-height));
        bottom: 0;
        right: 0;
        left: 0;
    }


    .menu_items a {
        font-size: xx-large;
    }

    .menu_items div:has(.contact_mobile) {
        display: flex;
        flex: 1;
        align-items: flex-end;
    }

    .menu>div,
    .menu>a {
        flex: initial;
    }
}



.menu .menu_logo {
    display: flex;
    justify-content: center;
    grid-gap: calc(var(--margin) / 2);
    align-content: center;
    z-index: 11;
}


@media (hover: none) {
    .menu_items a {
        font-size: calc(var(--margin) * 2.3);
    }

    .menu>.menu_items {
        top: calc(var(--margin) * 2 + var(--menu-height));
    }

    .menu .menu_logo {
        /* height: calc(100% - var(--margin) /31); */
    }
}

.menu_logo .logo {
    font-family: 'Selecta-Regular';
    text-transform: uppercase;
    font-size: 141%;
    color: var(--discret);
}

.menu .contact {
    text-align: end;
    color: var(--discret);
}

.container {
    overflow: hidden;
    display: flex;
    height: var(--height-container);
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1300px) {
    .menu .menu_logo {
        flex: 1;
        flex-wrap: wrap;
        height: calc(100% - var(--margin) / 2);
        align-content: center;

    }

    .menu_logo .logo {
        font-size: calc(var(--margin) / 1.33);
    }
}


/* @media only screen and (max-width: 768px) { */
@media only screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
        height: calc(100% - var(--menu-height) - var(--margin) / 2);
    }

    .menu .contact {
        display: none;
    }
}

@media (hover: none) {
    .menu_logo .logo {
        font-size: calc(var(--margin) * 1.5);
    }

    .container {
        height: calc(100% - var(--menu-height) - var(--margin) * 2);
    }
}

.page_row {
    flex: 1 1 50%;
}

.page_row.collection_nav {
    flex: 1 0 50%;
}

.collection_tab {
    padding: calc(var(--margin) / 2) calc(var(--margin) / 2);
    display: flex;
    grid-gap: var(--margin);
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
    overflow: scroll;
}

.collection_tab.bio {
    justify-content: space-between;

}


.collection_nav {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: var(--margin);
    /* overflow: hidden; */

}

.nav_news>.nav_cartel {
    color: var(--dark-grey);
    padding: calc(var(--margin) /4);
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.nav_news>.nav_cartel>p {
    padding: 0;
}

@media only screen and (max-width: 1300px) {
    .collection_nav {
        display: none;
    }
}

.collection_nav .nav_item {

    display: none;
}

.collection_nav .nav_item.active {
    display: block;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.collection_nav .nav_item.news.active {
    display: flex;
}

.collection_nav .nav_item h2,
.nav_item p {
    padding: calc(var(--margin) / 4) calc(var(--margin) / 4) 0;
}

.collection_nav .nav_wallpaper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--height-container);
}

.nav_gallery {
    cursor: s-resize;
    flex: 1;
    display: flex;
    gap: calc(var(--margin) / 2);
    flex-direction: column;
    margin: calc(var(--margin) / 2) calc(var(--margin) / 2) calc(var(--margin) / 2) 0;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.nav_cartel {
    scroll-snap-align: end;
    padding-bottom: calc(var(--margin) / 4);
}

.nav_content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav_content .nav_cartel p {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--dark-grey);
}

.nav_scroll {
    display: none;
    width: calc(var(--margin) * 0.8);
    height: calc(var(--margin) 0.8);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(-90deg) translate(20%, -50%);
}

.nav_image {
    scroll-snap-align: start;
    flex: 1 0 100%;
    width: max-content;
    height: 100%;
}

.nav_image.landscape {
    flex: 1 1 100%;
}



.nav_item.active>* {
    scroll-snap-align: end;
}



.projectSmall {
    overflow: scroll;
}

.projectSmall .thumbProject {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.thumbProject img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projectSmall .galleryProject {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) / 4);
    /* padding: calc(var(--margin) / 4); */
}

.cartelProject .infoProject,
.collection_tab.bio .bio_text p:last-child {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--dark-grey);
}

.cartelProject,
.galleryProject {
    background-color: white;
}

.projectSmall .cartelProject {
    display: flex;
    flex-direction: column;
    padding: calc(var(--margin) / 4);
    align-items: flex-start;
    justify-content: space-between;
}

.galleryProject img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: calc(100dvh - var(--menu-height));
}

.nav_wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection_nav::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.collection_filter {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(var(--margin) / 2);
    color: var(--grey);
}

@media only screen and (max-width: 1300px) {
    .collection_filter {
        display: flex;
        color: var(--grey);
        gap: 0px 0.5em;
        font-size: xx-large;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.collection_filter a {
    color: var(--dark-grey);
    /* Couleur par défaut */
    text-decoration: none;
}

.collection_filter a.active {
    color: black;
    /* Couleur active */
}

.collection_category {
    position: absolute;
    /* Positionner l'élément hors du flux normal */
    pointer-events: none;
    top: calc(var(--menu-height) + var(--margin)/2);
    left: calc(var(--margin) / 2);
    /* Ajuste selon tes besoins */
    right: calc(var(--margin) / 2);
    display: flex;
    flex-direction: column;
    grid-gap: calc(var(--margin) / 2);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(calc(var(--margin) / 2), auto);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

/* Utilise un sélecteur pour le rendre visible lors du ciblage */
.collection_category:target {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    /* Montre l'élément lors du ciblage */
}

@media only screen and (max-width: 1300px) {

    .collection_category {
        position: initial;
        display: none;


        flex-direction: column;
        grid-gap: calc(var(--margin) / 2);


        opacity: initial;
        visibility: initial;
        transition: none;
    }

    .collection_category:target {
        display: flex;
        flex-direction: column;
    }
}


.collection_year {
    color: var(--dark-grey);
    flex: 1;
    /* height: var(--margin); */
}

.collection_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: calc(var(--margin) / 2);
}

.collection_items>a {
    aspect-ratio: 1/1;
}



.collection_tab .collection_item {
    /* height: calc(var(--height-container) / 4); */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.collection_item img {
    flex: 1;
    object-fit: contain;
    height: 100%;
    transform: scale(2.5);
}

.collection_tab .collection_item:not(.with_img) {
    background: var(--grey);
    padding: calc(var(--margin) / 2);

}

.collection_tab .collection_item:hover {
    opacity: 0.7;
}

.collection_tab.news {
    grid-gap: 0;
}

.collection_tab.bio .bio_text p:first-child {
    color: black;

    margin-bottom: calc(var(--margin) / 2);

}

.collection_tab.bio .bio_text p:last-child {
    color: black;
}

.bio_prices {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) / 2);
}

.bio_repeater {
    display: grid;
    grid-template-rows: auto;
    /* Ajuste la hauteur en fonction du contenu */
    position: relative;
    gap: calc(var(--margin) / 2);
}

.bio_repeater>.bio_repeater_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    visibility: hidden;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    top: 0;
    width: 100%;

}

@media only screen and (max-width: 1425px) {
    .bio_repeater>.bio_repeater_item {
        grid-template-columns: repeat(1, 1fr);
    }
}

.bio_repeater>.bio_repeater_item:target {
    visibility: visible;
}


.bio_prices .bio_fields {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(var(--margin) / 2);
}

.bio-link {
    color: var(--dark-grey);
}

.bio-link.active,
.bio_repeater_item p:first-child {
    color: black;
}

.news_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--margin)/4);
    background: hsl(0, 0%, 99%);
    cursor: pointer;
    min-height: calc(var(--margin)*3);
    text-transform: lowercase;
}

@media only screen and (max-width: 1300px) {
    .news_item {
        min-height: auto;
    }
}

.news_item>*:first-child {
    padding-bottom: calc(var(--margin)/1);
}

.news_item:hover {
    background: hsl(0, 0%, 97%);
}

@media only screen and (max-width: 1300px) {
    .news_item {
        background: hsl(0, 0%, 97%);
    }

    .news_item:hover {
        background: white;
    }
}


.news_description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav_cartelMobile {
    /* display: none; */
    visibility: hidden;
    grid-column: 1 / -1;
    font-size: 1.8rem;
    /* transition: visibility 2s linear 1s; */
}



@media only screen and (max-width: 1300px) {
    .news_description .new_date {
        /* text-align: end; */
    }

    .interactive_item.active .nav_cartelMobile {
        visibility: visible;
    }

    .news_item .new_link {
        pointer-events: none;

    }

    .interactive_item.active .new_link {
        pointer-events: all;
    }

    .news_item.active .new_link img {
        opacity: 1;
    }

    .news_description {
        grid-template-columns: repeat(1, 1fr);
    }

}

.news_item .new_link:hover img {
    opacity: 0.9;
}

.news_item+.news_item {
    margin-top: calc(var(--margin)/4);
}

@media (hover: none) {
    .news_description {
        display: none;
    }

    .active .news_description {
        display: grid;
    }

    .collection_tab .news_item .news_description p {
        font-size: calc(var(--margin) / 1);

    }

    .interactive_item.active .nav_cartelMobile {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .collection_tab .news_item {
        padding-left: calc(var(--margin) / 2);
        justify-content: flex-start;
        position: relative;
        flex: 0 0 calc(var(--margin));
        overflow: hidden;
        transition: .5s all;
    }

    .active.news_item {
        padding-top: calc(1.5* var(--margin));
        flex: 1 0 calc(100% - var(--margin));
        gap: calc(var(--margin) / 2);
    }

    .active.news_item::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(var(--margin) * 2);
        width: 6px;
        height: calc(100% - var(--margin) * 2);
        background: #80ceff;
    }

    .news_item+.news_item {
        margin-top: var(--margin);
    }
}


.news_item .new_link {
    cursor: alias;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.news_item .new_link img {
    opacity: 0.1;
    width: 20px;
    transform: rotate(135deg);
}


.nav_item.news {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: calc(var(--margin) / 4);
}

.news_description p:first-child {
    grid-column: 1 / -1;
}

.news_date {
    padding-left: calc(var(--margin) /4);
    padding-bottom: calc(var(--margin) /4);
}

.collection_tab.news .news_item+.news_date {
    color: var(--dark-grey);
    padding-top: calc(var(--margin) /1);

}

p:not(.news_title) {
    color: var(--dark-grey);
    text-transform: none;
}

@media (hover: none) {
    .news_item .new_link img {
        visibility: hidden;
        width: 50px;
    }

    .news_item.active .new_link img {
        visibility: visible;
    }

    .news_item .new_link {
        align-items: flex-start;
    }

    .collection_tab.news {
        /* grid-gap: calc(var(--margin)/2); */
    }

    .news_item {
        background: none;
        /* padding-top: calc(var(--margin) / 1); */
    }

    .news_date {
        padding-left: calc(var(--margin) / 4);
        padding-bottom: calc(var(--margin) / 2);
    }

    .collection_tab.news .news_item+.news_date {
        padding-top: calc(var(--margin)* 3);
    }

    .news_item>*:first-child,
    .news_item>a:first-child p {
        color: #cccccc;
        background: #f4f4f4;
        font-size: calc(var(--margin)* 1);
        text-transform: none;
        padding: 0;
        transition: all 0.3s;
    }

    .news_item.active>.news_title,
    .news_item.active>a:first-child p {
        color: black;
        /* background: #cacaca; */
        background: none;
        /* font-size: calc(var(--margin) * 2); */
    }
}



img {
    max-width: 100%;
}